body {
	margin: 0;
	background: #202020;
	color: #e6e6e6;
	font: 1em "Roboto", sans-serif;
	min-height: 100vh;
}

input[type="text"] {
	width: 30%;
	min-width: 450px;
	margin: auto;
	background: inherit;
	color: inherit;
	font: inherit;
	font-size: 1.8em;
	border: transparent 2px solid;
	border-bottom: black 2px solid;
	padding: 0.27em 0.46em;
	text-align: center;
	outline: none;
	transition: border 0.2s ease-in-out;
}

input[type="text"]:focus {
	border: black 2px solid;
}

form {
	margin: 1.4em 0.2em;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

p {
	text-align: center;
	font-size: 2em;
	margin: 0.5em 10%;
	color: #e3e3e3;
}

table, td, th {
	border-collapse: collapse;
	font-weight: normal;
}

table {
	font-size: 1.26em;
	margin: 2em 20%;
	color: #d3d3d3;
	border: 2px solid #ddd;
	border-radius: 4px;
}

td, th {
	border: 1px dotted white;
	margin: 0;
	outline: none;
	padding: 0.2em 0.43em;
	text-align: center;
}

tr:nth-of-type(2n) {
	background: #292929;
}

.container {
	display: flex;
	flex-direction: column;
	transition: filter 0.3s;
}

.holder {
	transition: filter 0.3s, opacity 0.3s;
	opacity: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #18181888;
	z-index: -1;
}